.game-button{
    width:30px;
    height:30px;
    border-style: solid;
    margin:10px;
}
.game-button-active{
    width:30px;
    height:30px;
    border-style: solid;
    margin:10px;
    background-color:green;
}

.board-wrapper{
    display:flex;
    flex-wrap: wrap;
    width:300px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}